.card {
    // background: #FFFFFF;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    padding: 15px;
    width: 240px;
    margin-right: 25px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    // cursor: pointer;

    .plus {
      cursor: pointer;
    }
  
    &:hover {
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-5px);
    }
  
    .favorite {
      position: absolute;
      cursor: pointer;
    }
  
    span {
      opacity: 0.5;
      font-size: 13px;
      text-transform: uppercase;
    }
    h5 {
      font-size: 14px;
      font-weight: 400;
    }
    b {
      font-size: 13px;
    }
    
  }